.App {
  text-align: center;
}

.Pocketcard {
  background-color: gainsboro;
  padding: 16px;
  margin: 12px;
  width: 150px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  border-radius: 3px;

}

.Pocketcard-image {
  max-width: 80px;
  width: 100%;
}

.Pocketcard-image {
  transition: transform .2s ease-in;
}

.Pocketcard-image:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.Pockedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 850px;
  width: 100%;
  margin: 12px auto;
}